@import '_reset.css';

body {
    font-family: Menlo, 'Courier New', Courier, monospace;
    overflow-y: hidden;
}

label,
button,
input[type='checkbox'],
input[type='range'],
select {
    cursor: pointer;
}

label.disabled {
    color: gray;
}

h1,
h2,
h3 {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1em;
}

.cpu-state .highlight {
    background-color: #f39c12;
}

ul {
    list-style-type: disc;
    padding-left: 2em;
}
ul ul {
    list-style-type: circle;
}

#program-explorer {
    .highlight {
        background-color: #0984e3;
    }
}

.scroller {
    overflow-y: scroll;
    padding-bottom: 25vh;
}

.left,
.right {
    border: 1px solid black;
}

.rom-selector {
    label.highlight {
        background-color: #0984e3;
    }
    label {
        padding: 1em;
    }
}

svg {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.playback-controls {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5em 0;

    button {
        width: 25%;
    }
}

.container {
    display: flex;
    justify-content: space-between;

    .spacer {
        margin: 0 auto;
    }

    .left {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .mid {
        height: 100vh;
        display: flex;
        flex-direction: column;
        // special
        flex-grow: 2;

        .scroller {
            // margin: 0 auto;
        }
    }

    .left,
    .right {
        width: 25vw;
        min-width: 340px;
    }

    .right {
        height: 100vh;
        display: flex;
        flex-direction: column;
        // overflow-y: hidden;

        #program-explorer {
            overflow-y: scroll;
            min-height: min-content;
        }
    }
}

.debug-options {
    margin-top: 3em;
}

.awaiting {
    background-color: #f39c12;
    text-align: center;
}

.keyboard {
    border: 1px solid black;
    display: inline-block;
    .row {
        display: flex;
    }
    button {
        font-size: 0.75em;
        border-style: groove;
        border: 1px solid #999;
        margin: 0;
        padding: 1em;
        font-family: Menlo, 'Courier New', monospace;
        background-color: white;
        &:hover {
            background-color: #ccc;
        }

        &.highlight {
            background-color: lime;
        }
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.rotating {
    animation: rotating 2s linear infinite;
}

.pulse-blue {
    animation: pulse-blue 2s infinite;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}
